<html>
    <head>
        <title>Sistem Prezenta Robosap</title>
    </head>

    <body>
        <h1>Prezență Robosap</h1>
        <form name="form" action="/" method="POST">
        <p>
        {%for item in members%}
            <input type="radio" name="options" id={{item}} value={{item}}> {{item}} <br>    
        {%endfor%}
        </p>
        <p>
            <input type="text" name="descriere">
        </p>
        <p><input type=submit></p>
        </form>
    </body>
</html>